*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',;

}
/*efeeecd3*/
body{
    background: #B9BFBB;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}