#contactPage{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.contactPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contactDescription{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: #463830;
    font-family:serif;
    outline-color: black;
}

.submitBtn{
    background-color: white;
    border: none;
    padding: 0.7rem 2.5rem;
    border-radius: 2rem;
    margin: 1.5rem;
    font-family: serif;
    font-size: 1rem;
}
