.navbar {
    height: 5rem;
    width: 100 vw;
    max-width: 99%;
    margin: 0 auto;
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    margin-bottom: 7vh;
}

.logoImg{
    object-fit: cover;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 0.4rem;
    margin-right: auto;
}

.destopMenuListItem{
    margin: 1.5rem;
    color: #4C6444;
    cursor: pointer;
}

.destopMenuListItem:hover{
    color: black;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}
.active{
    color: black;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}

.desktopMenuButton{
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 4rem;
    width: 9.7rem;
    border-radius: 1rem;
    margin-left: auto;
}
.desktopMenuImg{
    object-fit: cover;
    height: 6.5rem;
    width: 10rem;
    padding-top: 1rem;
}
